body{
    background-color: black;
    color: white;
}

input{
    display: none;
    
}

button{
    position: absolute;
    top: 50%;
    left: 43%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(7, 207, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(21, 216, 10);
    transition: all 0.2s ease-in-out;
}

button:active{
    transform: scale(0.90);
}