*{;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.head{
    color: red;
    font-size: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: yellow;
    width: 250px;
}

.click{
    color: red;
    font-size: 20px;
}

.submit{
    color: yellow;
    font-size: 20px;
}

.save{
    color: green;
    font-size: 20px;
}

.login{
    color: blue;
    font-size: 20px;
}
