*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    height: 300px;
    width: 400px;
    border: 2px solid whitesmoke;
}

button{
    padding: 10px 25px;
    background-color: rgb(65, 195, 65);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active{
  transform: scale(0.9);
}


.progress{
    width: 99%;
    height: 30px;
    background-color: grey;
    border: 2px solid grey;
}

.progress-bar{
    height: 90%;
    width: 0%;
    background-color: greenyellow;
    border: 2px solid white;
    border-radius: 5px;
}