/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: white;
    transition: background-color 0.3s;
}

.bg{
      display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
}
/* Center the form */

.dark-mode-container body {
  background-color: #121212;
  transition: background-color 0.3s;
}

/* Form container */
.container {
    margin: 10px;
    align-items: center;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: #2f2e2e;
}

.dark-mode-container {
  background: #000000;
  color: #f1eaea;
  transition: background-color 0.3s color 0.3s;
}
.dark-mode-container h2 {
  color: #ffffff;
  text-decoration: underline;
  transition: background-color 0.3s color 0.3s;
}

.dark-mode-container .form-group label {
  color: #f1eaea;
  transition: background-color 0.3s color 0.3s;
}

/* Heading */

.dark-mode{
  background-color: #353535;
  transition: background-color 0.3s;
}

.dbutton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dbutton:hover {
  background-color: #0056b3;
}
/* Input fields */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #444;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
  transition: background-color 0.3s;
}

.form-group input:focus {
  border: 1px solid #007bff;
}

/* Error message */
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
}

/* Button */
.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #0056b3;
}

#resultMessage {
    color: red;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.error{
    display: none;
}

.error{
    display: none;
}