body{
    background-color: black;
    color: white;
}

.lt{
    font-size: 20px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}