body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

input{
    background-color: #333;
    color: white;
    border: 1px solid rgb(110, 105, 105);
    outline: none;
    padding: 5px;
}
