*{
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

input{
    background-color: rgb(57, 57, 57);
    color: white;
}


.container{
    position: relative;
    margin: 10px;
    border: 2px solid grey;
    width: 300px;
    height: auto;
    padding: 20px ;
    border-radius: 10px;
}


button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
}

button:hover{
 background-color: red;
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

.icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

p{  
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
}
