#parent{
    display:grid;
    /* grid-template-columns: 100px 50px 100px;
    grid-template-rows:100px 100px 100px; */

    grid: 100px 100px 100px/ repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    height: 500px;
    margin-top: 200px;
}

.child{
    background-color: aquamarine;
}

.child:nth-child(5){
    grid-column: span 2;
}

.child:nth-child(5n){
    grid-column: span 2;
}

.child:nth-child(4n){
    background-color: blue;
        border-radius: 50%;
    }

.child:hover{
    background-color: red;
    border-radius: 50%;
    transition: background-color 0.5s ease-in ;
}

.ball{
    background-color: black;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    transition: all 1s cubic-bezier(0.8,-0.06, 0.84,-0.03);
}

.ball:hover{
    top: 0px;
    left: 200px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}