.container{
    display: grid;
    border: 2px solid black;
    background-color: aqua;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(7, 100px); 
    gap: 5px;
    justify-content: center;
}

.item {
    background-color: red;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 1px solid black;
}
