body{
    background-color: black;
    color: white;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
    color: grey;
} 

h1:hover{
    color: yellowgreen;
    text-transform: capitalize;
}