*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    position: relative;
    margin: 10px;
    width: 300px;
    height: 400px;
}
.top{
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(0, 94, 255);
}

.bottom{
    padding-top:50px ;
    width: 100%;
    height: 250px;
    background-color: rgb(225, 225, 225);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile-img{
    position: absolute;
    width:100px;
    left: 100px;
    top: 60px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}
.profile-back{
    position: absolute;
    width:110px;
    left: 95px;
    top: 55px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(0,94,255);
    z-index: 0;
}

.social-icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.social-icon{
    width: 30px;
}

h1{
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
}

h3{
    margin-top: 8px;
    text-align: center;
}

button{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: block;
    background-color: rgb(0, 94, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
