body{
    background-color: rgb(22, 22, 22);
    color: #626060;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 100px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
