body{
    background-color: black;
    color: white;
}

input{
    background-color: #333;
    color: white;
    border: 1px solid rgb(110, 105, 105);
    outline: none;
    padding: 5px;
}

li{
    margin-top:10px;
}

.del{
    background-color: red;
    color: black;
    border-radius: 50%;
    margin-left: 5px;
}